@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

$font-family-sans-serif: 'Noto Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$primary:                #20c997;
$dark:                   #116e52;
$light:                  #d2f9ed;
$info:                   #33cccc;
$green:                  #009900;
$yellow:                 #e6e600;
$red:                    #ff3300;

// Scrollbar
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@import "../node_modules/bootstrap/scss/bootstrap";
